@keyframes pulsate {
  0% {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.phone-spec-ad-child {
  position: absolute;
  height: 27.55%;
  width: 96.63%;
  top: 0.88%;
  right: 1.68%;
  bottom: 71.57%;
  left: 1.68%;
  background-color: var(--color-gainsboro-100);
}
.frame-child324,
.frame-child325,
.frame-child326,
.frame-child327,
.frame-child328,
.frame-child329 {
  position: absolute;
  height: 97.67%;
  width: 27.64%;
  top: 0;
  right: 72.36%;
  bottom: 2.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child325,
.frame-child326,
.frame-child327,
.frame-child328,
.frame-child329 {
  right: 13.88%;
  left: 58.48%;
}
.frame-child326,
.frame-child327,
.frame-child328,
.frame-child329 {
  right: 43.12%;
  left: 29.24%;
}
.frame-child327,
.frame-child328,
.frame-child329 {
  right: -15.36%;
  left: 87.71%;
}
.frame-child328,
.frame-child329 {
  right: -44.59%;
  left: 116.95%;
}
.frame-child329 {
  right: -73.83%;
  left: 146.19%;
}
.rectangle-parent62 {
  position: absolute;
  height: 7.83%;
  width: 97.84%;
  top: 67.08%;
  right: 0;
  bottom: 25.09%;
  left: 2.16%;
  overflow-x: auto;
}
.frame-child330,
.frame-child331,
.frame-child332,
.frame-child333,
.frame-child334,
.frame-child335,
.frame-child336 {
  position: absolute;
  height: 97.67%;
  width: 27.76%;
  top: 0;
  right: 72.24%;
  bottom: 2.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-child331,
.frame-child332,
.frame-child333,
.frame-child334,
.frame-child335,
.frame-child336 {
  right: 13.51%;
  left: 58.73%;
}
.frame-child332,
.frame-child333,
.frame-child334,
.frame-child335,
.frame-child336 {
  right: 42.87%;
  left: 29.36%;
}
.frame-child333,
.frame-child334,
.frame-child335,
.frame-child336 {
  right: -15.85%;
  left: 88.09%;
}
.frame-child334,
.frame-child335,
.frame-child336 {
  right: -45.22%;
  left: 117.46%;
}
.frame-child335,
.frame-child336 {
  right: -74.58%;
  left: 146.82%;
}
.frame-child336 {
  right: -103.95%;
  left: 176.19%;
}
.rectangle-parent63 {
  position: absolute;
  height: 7.83%;
  width: 97.42%;
  top: 35.92%;
  right: 0;
  bottom: 56.25%;
  left: 2.58%;
  overflow-x: auto;
}
.phone-spec-ad-item {
  height: 14.96%;
  width: 95.67%;
  top: 48.42%;
  right: 2.16%;
  bottom: 36.62%;
  left: 2.16%;
  border-radius: var(--br-3xl);
}
.phone-spec-ad-child1,
.phone-spec-ad-child2,
.phone-spec-ad-inner,
.phone-spec-ad-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.phone-spec-ad-inner {
  height: 18.17%;
  width: 95.05%;
  top: 78.52%;
  right: 2.79%;
  bottom: 3.31%;
  left: 2.16%;
  border-radius: 20.79px;
}
.phone-spec-ad-child1,
.phone-spec-ad-child2 {
  height: 1.46%;
  width: 18.09%;
  top: 29.25%;
  right: 79.32%;
  bottom: 69.3%;
  left: 2.58%;
}
.phone-spec-ad-child2 {
  height: 1.33%;
  width: 18.42%;
  top: 29.34%;
  right: 2.49%;
  bottom: 69.33%;
  left: 79.09%;
}
.phone-spec-ad-child3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 1.7%;
  width: 13.46%;
  top: 55.92%;
  right: 5.89%;
  bottom: 42.38%;
  left: 80.65%;
  border-radius: var(--br-32xl);
  background-image: url(./public/rectangle-496@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.component-116:hover,
.phone-spec-ad-child3:hover,
.phone-spec-ad-child4:hover {
  animation: 1s ease-in-out 0s 1 normal none pulsate;
  opacity: 1;
}
.phone-spec-ad-child4 {
  position: absolute;
  height: 2.09%;
  width: 19.29%;
  top: 90.78%;
  right: 39.3%;
  bottom: 7.13%;
  left: 41.41%;
  border-radius: var(--br-3xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.component-1-child14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-orangered);
}
.icon-home16 {
  position: absolute;
  height: 63.33%;
  width: 58.33%;
  top: 18.75%;
  right: 20.83%;
  bottom: 17.92%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-116 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.91%;
  width: 5.77%;
  top: 28.88%;
  right: 47.12%;
  bottom: 68.2%;
  left: 47.12%;
  border-radius: var(--br-81xl);
  background-image: url(./public/component-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.phone-spec-ad-child5,
.phone-spec-ad-child6 {
  position: absolute;
  height: 1.04%;
  width: 15.08%;
  top: 65.78%;
  right: 83.11%;
  bottom: 33.18%;
  left: 1.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.phone-spec-ad-child6 {
  height: 1.09%;
  width: 11%;
  top: 34.56%;
  right: 86.84%;
  bottom: 64.35%;
  left: 2.16%;
}
.phone-spec-ad {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 3296px;
  overflow: hidden;
}
@media screen and (max-width: 6114px) {
  .phone-spec-ad {
    width: 6114px;
    height: 12110px;
  }
}
@media screen and (max-width: 5120px) {
  .phone-spec-ad {
    width: 5120px;
    height: 10141px;
  }
}
@media screen and (max-width: 3840px) {
  .phone-spec-ad {
    width: 3840px;
    height: 7606px;
  }
}
@media screen and (max-width: 3546px) {
  .phone-spec-ad {
    width: 3546px;
    height: 7023px;
  }
}
@media screen and (max-width: 3226px) {
  .phone-spec-ad {
    width: 3226px;
    height: 6389px;
  }
}
@media screen and (max-width: 1920px) {
  .phone-spec-ad {
    width: 1920px;
    height: 3803px;
  }
}
@media screen and (max-width: 1664px) {
  .phone-spec-ad {
    width: 1680px;
    height: 3328px;
  }
}
@media screen and (max-width: 1600px) {
  .phone-spec-ad {
    width: 1600px;
    height: 3169px;
  }
}
@media screen and (max-width: 1536px) {
  .phone-spec-ad {
    width: 1536px;
    height: 3042px;
  }
}
@media screen and (max-width: 1440px) {
  .phone-spec-ad {
    width: 1440px;
    height: 2852px;
  }
}
@media screen and (max-width: 1366px) {
  .phone-spec-ad {
    width: 1366px;
    height: 2705px;
  }
}
@media screen and (max-width: 1290px) {
  .phone-spec-ad {
    width: 1290px;
    height: 2555px;
  }
}
@media screen and (max-width: 1284px) {
  .phone-spec-ad {
    width: 1284px;
    height: 2543px;
  }
}
@media screen and (max-width: 1280px) {
  .phone-spec-ad {
    width: 1280px;
    height: 2535px;
  }
}
@media screen and (max-width: 1242px) {
  .phone-spec-ad {
    width: 1242px;
    height: 2460px;
  }
}
@media screen and (max-width: 1200px) {
  .phone-spec-ad {
    width: 1200px;
    height: 2376px;
  }
}
@media screen and (max-width: 1174px) {
  .phone-spec-ad {
    width: 1174px;
    height: 2325px;
  }
}
@media screen and (max-width: 1170px) {
  .phone-spec-ad {
    width: 1170px;
    height: 2317px;
  }
}
@media screen and (max-width: 1125px) {
  .phone-spec-ad {
    width: 1125px;
    height: 2228px;
  }
}
@media screen and (max-width: 1080px) {
  .phone-spec-ad {
    width: 1080px;
    height: 2139px;
  }
}
@media screen and (max-width: 1024px) {
  .phone-spec-ad {
    width: 1024px;
    height: 2028px;
  }
}
@media screen and (max-width: 960px) {
  .phone-spec-ad {
    width: 960px;
    height: 1901px;
  }
}
@media screen and (max-width: 828px) {
  .phone-spec-ad {
    width: 828px;
    height: 1640px;
  }
}
@media screen and (max-width: 810px) {
  .phone-spec-ad {
    width: 810px;
    height: 1604px;
  }
}
@media screen and (max-width: 768px) {
  .phone-spec-ad {
    width: 768px;
    height: 1521px;
  }
}
@media screen and (max-width: 750px) {
  .phone-spec-ad {
    width: 750px;
    height: 1485px;
  }
}
@media screen and (max-width: 720px) {
  .phone-spec-ad {
    width: 720px;
    height: 1426px;
  }
}
@media screen and (max-width: 640px) {
  .phone-spec-ad {
    width: 640px;
    height: 1267px;
  }
}
@media screen and (max-width: 480px) {
  .phone-spec-ad {
    width: 480px;
    height: 950px;
  }
}
@media screen and (max-width: 428px) {
  .phone-spec-ad {
    width: 428px;
    height: 84px;
  }
}
@media screen and (max-width: 420px) {
  .phone-spec-ad {
    width: 420px;
    height: 831px;
  }
}
@media screen and (max-width: 414px) {
  .phone-spec-ad {
    width: 414px;
    height: 820px;
  }
}
@media screen and (max-width: 412px) {
  .phone-spec-ad {
    width: 412px;
    height: 816px;
  }
}
@media screen and (max-width: 375px) {
  .phone-spec-ad {
    width: 375px;
    height: 742px;
  }
}
@media screen and (max-width: 360px) {
  .phone-spec-ad {
    width: 360px;
    height: 713px;
  }
}
@media screen and (max-width: 350px) {
  .phone-spec-ad {
    width: 350px;
    height: 693px;
  }
}
@media screen and (max-width: 320px) {
  .phone-spec-ad {
    width: 320px;
    height: 732px;
  }
}
